<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Add</title>
</head>
<body>
    <h1>Post Add </h1>
    <form action="/posts/add" method="post" enctype="multipart/form-data">
        <label for="title" >New Title</label>
    <input type="title" name='title' id='title' ><p></p>

    <label for="content">New Content </label>
    <input type="content" name='content' id='content' ><p></p>

    <label for="content">Author </label>
    
<select name="author" id="author">
    <% for(var i=0;i<users.length;i++){%>
    <option value="<%= users[i]._id%>"><%= users[i].name%></option>
    <%}%>
    <p></p>
        <label for="img">Image</label>
        <input type="file" name="photo" id="img">
    
</select>
<p></p>
    <input type="submit" value="Add">
</form>
</body>
</html>